@import "./index.css";

.disaster-dimensions {
    background-color: #141414;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.slide {
    width: 35vmin;
    height: 50vmin;
    overflow: hidden; 
    position: relative;
    cursor: grab;
    transition: transform 0.3s ease;
}

.slide:hover {
    transform: scale(1.05);
}

.slide img {
  position: absolute;
  top: 50%; left: 50%;
  object-fit: cover;
  height: 100%;
  width: 1200px;
  will-change: transform;
  transform: translate(-50%, -50%);
}

.image-track {
    display: flex;
    gap: 3vmin;
    position: absolute;
    top: 25%;
}

.slider-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

